<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ExamplePlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ggg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>isn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>nnn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37F5D17C18694355007DFD73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37F5D18E186944A7007DFD73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37F5D19F186944A8007DFD73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37F5D1B8186944DD007DFD73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37F5D2621869478F007DFD73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B65FB2DF0E6F5A9C008D9A25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6AF69D80E80635A00D4CE0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
